* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
  --text: 16px/1.5 var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit; /* herda a cor do pai */
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.container {
  display: flex;
  gap: 344px;
  padding: 32px;
  align-items: center;
}

#profile {
  display: flex;
  max-width: 592px;
  gap: 32px;
}

#profile p {
  max-width: 384px;
}

#info {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info li{
  list-style-type: none;
  display: flex;
  gap: 8px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 24px auto;
}

main img {
  max-width: 286px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 785px;
  margin: 25px 32px;
  font: var(--text-sm);
}

footer ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}