.container {
  display: flex;
  gap: 344px;
  padding: 32px;
  align-items: center;
}

#profile {
  display: flex;
  max-width: 592px;
  gap: 32px;
}

#profile p {
  max-width: 384px;
}

#info {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info li{
  list-style-type: none;
  display: flex;
  gap: 8px;
}