.container {
  display: flex;
  gap: 344px;
  padding: 32px;
  align-items: center;
}

#profile {
  display: flex;
  max-width: 592px;
  gap: 32px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile p {
  max-width: 384px;
  font: var(--text-md);
}

#info {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info li{
  list-style-type: none;
  display: flex;
  gap: 8px;
  font: var(--text-md);
}